<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-col-wrapper">

            <div class="footer-col">
                <p><a href="{{ '/' | relative_url }}">{{ site.title }}</a> by {{ site.author.name }} is marked <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="max-width: 1em; max-height: 1em; margin-left: 0.2em;" alt=""><img src="https://mirrors.creativecommons.org/presskit/icons/zero.svg" style="max-width: 1em; max-height: 1em; margin-left: 0.2em;" alt=""></p>
            </div>

        </div>

    </div>

</footer>
