<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/crumbs.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">
    <link rel="stylesheet" title="spoiler-style" href="{{ '/assets/css/spoiler.css' | relative_url }}">
    <link rel="icon" type="image/svg" href="assets/images/logo.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/logo.png">
    {%- feed_meta -%}
    <script src="{{ 'assets/js/spoiler_toggle.js' | relative_url }}"></script>
</head>
