<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/crumbs.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/links.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/spoiler.css' | relative_url }}" title="spoiler-style">

    <link rel="icon" type="image/svg" href="{{ '/assets/images/logo.svg' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/logo.png' | relative_url }}">

    <script src="{{ '/assets/js/spoiler_toggle.js' | relative_url }}"></script>

</head>
