.site-header {
    height: 60px;
}

.site-logo {
    display: inline-block;

    & img {
        padding: 5px;
    }
}

.site-nav {
    position: inherit !important;
    border: inherit !important;
    line-height: 60px;
}

.crumbs {
    & ol {
        margin-left: initial;
    }

    & li {
        display: inline;

        & span::after {
            content: "/";
            padding: 0 0.5em 0 0.5em;
        }
    }
}
