.spoiler {
    display: none;
}

#spoiler-toggle {
    all: unset;

    display: none;
    cursor: pointer;
    line-height: initial;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: revert;
    }
}
