---
layout: page
---

{{ content }}

<h2 id="personality" class="spoiler">Personality</h2>

{%- for paragraph in page.personality -%}
    <p class="spoiler">{{ paragraph | markdownify | escape }}</p>
{%- endfor -%}

<h2 id="motives" class="spoiler">Motives</h2>

{%- for paragraph in page.motives -%}
    <p class="spoiler">{{ paragraph | markdownify | escape }}</p>
{%- endfor -%}

<h2 id="background" class="spoiler">Background</h2>

{%- for paragraph in page.background -%}
    <p class="spoiler">{{ paragraph | markdownify | escape }}</p>
{%- endfor -%}
