---
layout: base
---

<article class="post">

    <nav class="crumbs">
        <ol>
            {%- assign url_parts = page.url | split: "/" -%}
            {%- for item in url_parts -%}
                {%- assign url = url_parts | slice: 0, forloop.index | join: "/" | append: "/" -%}
                {%- assign linked_page = site.pages | where: "url", url | first -%}
                {%- if linked_page -%}
                    {%- if forloop.first -%}
                        <li><span><a href="{{ '/' | relative_url }}">Home</a></span></li>
                    {%- elsif forloop.last -%}
                        <li>{{ linked_page.title | escape }}</li>
                    {%- else -%}
                        <li><span><a href="{{ site.baseurl }}{{ linked_page.url }}">{{ linked_page.title | escape }}</a></span></li>
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        </ol>
    </nav>

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        {%- assign chunks = content | split: "[[" -%}
        {%- for chunk in chunks -%}
            {%- if forloop.first -%}
                {{ chunk }}
            {%- else -%}
                {%- assign chunk_parts = chunk | split: "]]" -%}
                {%- assign link = chunk_parts | first | split: ":" -%}
                {%- assign remaining_content = chunk_parts | last -%}
                {%- assign link_text = link | first -%}
                {%- assign link_title = link | last -%}
                {%- assign linked_page = site.pages | where: "title", link_title | first -%}
                {%- if linked_page -%}
                    {%- if page.url startswith linked_page.url -%}
                        <span class="self-link">{{ link_text }}</span>
                    {%- else -%}
                        <a href="{{ site.baseurl }}{{ linked_page.url }}">{{ link_text }}</a>
                    {%- endif -%}
                {%- else -%}
                    <span class="broken-link">{{ link_text }}</span>
                {%- endif -%}
                {{ remaining_content }}
            {%- endif -%}
        {%- endfor -%}
    </div>

</article>
